<!-- HEADER SECTION -->
<nz-row nzJustify="center" class="container">
  <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="16">
    <h1 class="page-title">Minimalist Room</h1>
    <div class="page-description-container">
      <p class="page-description">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
    </div>
  </nz-col>
  <img src="assets/header/image-1.svg" alt="" style="width: 100%;" />
</nz-row>

<!-- ARTICLE SECTION -->
<nz-row nzJustify="space-between" class="container article-section">
  <nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="11" nzXl="11" nzXXl="11">
    <article>
      <h2>Project Overview</h2>
      <p>
        Online learning with us does not interfere with your daily life. because
        learning can be done anytime and anywhere. Online learning with us does
        not interfere with your daily life. because learning can be done anytime
        and anywhere. Online learning with us does not interfere with your daily
        life. because learning can be done anytime and anywhere.
      </p>
      <br />
      <div class="site">
        <p>July 22 - 2022</p>
        <p>Interior Design - Furniture</p>
      </div>
    </article>
  </nz-col>

  <nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="11" nzXl="11" nzXXl="11">
    <article>
      <h2>Design Process</h2>
      <p>
        Online learning with us does not interfere with your daily life. because
        learning can be done anytime and anywhere. Online learning with us does
        not interfere with your daily life. because learning can be done anytime
        and anywhere.
      </p>
      <br />
      <p>
        Online learning with us does not interfere with your daily life. because
        learning can be done anytime and anywhere. Online learning with us does
        not interfere with your daily life. because learning can be done anytime
        and anywhere.
      </p>
    </article>
  </nz-col>
</nz-row>

<!-- GALLARY SECTION -->
<nz-row class="container gallery">
  <nz-row nzJustify="space-between" [nzGutter]="[10,10]">
    <nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nzXXl="12">
      <div style="display: flex; justify-content: space-between;"></div>
      <img src="assets/gallery/gallery-img1.svg" alt="" />
    </nz-col>

    <nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nzXXl="12">
      <img src="assets/gallery/gallery-img2.svg" alt="" />
    </nz-col>
  </nz-row>

  <nz-row [nzGutter]="[10,10]">
    <nz-col nzSpan="24">
      <img src="assets/gallery/gallery-img3.svg" alt="" />
    </nz-col>
  </nz-row>

  <nz-row nzJustify="space-between" [nzGutter]="[10,10]">
    <nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nzXXl="12">
      <img src="assets/gallery/gallery-img4.svg" alt="" />
    </nz-col>
    <nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nzXXl="12">
      <img src="assets/gallery/gallery-img5.svg" alt="" />
    </nz-col>
  </nz-row>
</nz-row>

<!-- CONTACT US SECTION -->
<nz-row class="contact-us-section">
  <nz-row class="container contact-us-header" nzJustify="space-between">
    <nz-col nzXs="24" nzSm="24" nzMd="14" nzLg="14" nzXl="16" nzXXl="16">
      <h2>
        let's discuss making your interior <br />
        like a dream place!
      </h2>
    </nz-col>
    <nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="10" nzXl="8" nzXXl="8">
      <p>Contact us below to work together to build your amazing interior</p>
      <button class="btn">Contact Us</button>
    </nz-col>
  </nz-row>
</nz-row>

<!-- FOOTER SECTION -->
<nz-row nzJustify="space-between" class="container footer">
  <nz-col nzXs="24" nzSm="24" nzMd="14" nzLg="14" nzXl="16" nzXXl="16">
    <img src="assets/navbar/navbar-logo.svg" alt="" />
    <h2>
      One of the best furniture <br />
      agency.
    </h2>
  </nz-col>

  <nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="10" nzXl="8" nzXXl="8">
    <div>
      <p class="email-label">
        <span><img src="assets/dot.svg" alt="" /></span>&nbsp;
        <span>Enter your email to get the latest news</span>
      </p>

      <nz-input-group [nzSuffix]="suffixTemplate">
        <input nz-input placeholder="Email Address" />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <span nz-icon nzType="swap-right" nzTheme="outline"></span>
      </ng-template>
    </div>

    <nz-row nzJustify="end" class="social-media">
      <nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="10">
        <p class="follow-us">Follow us On</p>

        <div class="social-media-icons">
          <img src="assets/social-media/facebook.svg" alt="" />
          <img src="assets/social-media/instagram.svg" alt="" />
          <img src="assets/social-media/tiktok.svg" alt="" />
          <img src="assets/social-media/youtube.svg" alt="" />
        </div>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>
