<nz-row class="navbar">
  <nz-col nzXs="16" nzSm="16" nzMd="8" nzLg="10" nzXs="12">
    <img [src]="navbarLogo" alt="icon" />
  </nz-col>

  <nz-col nzXs="8" nzSm="8" nzMd="16" nzLg="14" nzXs="12">
    <ul class="navbar-links">
      <li
        *ngFor="let option of options"
        [ngClass]="option.name !== 'Contact Us' ? '': 'active-link'"
        class="menu-link-lg"
      >
        <a>{{option.name}}</a>
      </li>
    </ul>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item *ngFor="let option of options">
          <a>{{option.name}}</a>
        </li>
      </ul>
    </nz-dropdown-menu>

    <div class="navbar-links-sm">
      <span
        nz-icon
        nzType="menu"
        class="menu-icon"
        nzTheme="outline"
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        (click)="onSwitchMenuIcon()"
      ></span>
    </div>
  </nz-col>
</nz-row>
